/*----------------------------------------------------
Master view
-----------------------------------------------------*/
main {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

header {
  text-align: center;
  margin: 40px 0;
}

#logo {
  /* Actual width is 636; displaying at half-size for retina screens */
  width: 318px;
}

/*----------------------------------------------------
Misc
-----------------------------------------------------*/
ul.error {
  list-style-type: none;
}

/*----------------------------------------------------
Recipe index
-----------------------------------------------------*/
#recipe-index .recipe {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

#recipe-index .recipe-name {
  margin-top: 20px;
  font-weight: bold;
}

#recipe-index .recipe-thumb {
  width: 100px;
}

/*----------------------------------------------------
Recipe Show
-----------------------------------------------------*/
#recipe-show .recipe-image {
  width: 200px;
}

#recipe-show .recipe-description {
  padding: 10px;
  font-size: 1.1rem;
  font-style: italic;
}

#recipe-show .recipe-price {
  font-size: 1.1rem;
}

#recipe-review {
  margin: 20px 0;
  background-color: #f6f7f7;
  padding: 10px;
}

#recipe-review input[type="text"] {
  text-align: center;
  width: 50%;
  margin: auto;
}

#recipe-review textarea {
  height: 150px;
}

.directions {
  text-align: left;
}
.ingredients {
  text-align: left;
}
