<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <form>
        <button :img src="/images/rock.jpg" v-on:click= "player = 'rock'; computer()">Rock </button>
        <button :img src="/images/paper.jpg" v-on:click= "player = 'paper'; computer()">Paper</button>
        <button :img src="/images/scissors.jpg" v-on:click= "player = 'scissors'; computer()">Scissors</button>
    </form>
    <ul>
        <li v-for='userPick'>{{ player }}</li>
        <li v-for='computer pick'>{{ computer }}</li>
    </ul>
  </body>
</html>
